In [3]:
import pandas as pd
df = pd.read_csv(r"C:\Users\DELL\Downloads\Sales.csv", encoding='ISO-8859-1')
df.dropna(subset=['Delivery Date'], inplace=True)
print(len(df))
# Convert 'Order Date' and 'Delivery Date' to datetime format
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce', format='%m/%d/%Y')
df['Delivery Date'] = pd.to_datetime(df['Delivery Date'], errors='coerce', format='%m/%d/%Y')
df.dropna(inplace=True)
print(len(df))
# Filter the rows where 'Delivery Date' is earlier than 'Order Date'
df = df[df['Delivery Date'] >= df['Order Date']]

# Handle duplicates 
df.drop_duplicates(inplace=True)

# reset the index after dropping rows
df.reset_index(drop=True, inplace=True)


# Saving the file 
df.to_csv(r"C:\Users\DELL\OneDrive\문서\mini project 1\Cleaned_Sales.csv", encoding='ISO-8859-1', index=False)
df

13165
13165

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD
1,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD
2,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD
3,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD
4,366002,3,2016-01-01,2016-01-12,266019,0,1080,4,CAD
...,...,...,...,...,...,...,...,...,...
13160,2243029,6,2021-02-20,2021-02-27,887764,0,1456,2,EUR
13161,2243031,1,2021-02-20,2021-02-24,511229,0,98,4,EUR
13162,2243032,1,2021-02-20,2021-02-23,331277,0,1613,2,CAD
13163,2243032,2,2021-02-20,2021-02-23,331277,0,1717,2,CAD
13164,2243032,3,2021-02-20,2021-02-23,331277,0,464,7,CAD

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13165 entries, 0 to 13164
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   13165 non-null  int64
 1   Line Item      13165 non-null  int64
 2   Order Date     13165 non-null  datetime64[ns]
 3   Delivery Date  13165 non-null  datetime64[ns]
 4   CustomerKey    13165 non-null  int64
 5   StoreKey       13165 non-null  int64
 6   ProductKey     13165 non-null  int64
 7   Quantity       13165 non-null  int64
 8   Currency Code  13165 non-null  object
dtypes: datetime64[ns](2), int64(6), object(1)
memory usage: 925.8+ KB

In [5]:
import pandas as pd
df1=pd.read_csv(r"C:\Users\DELL\Downloads\Stores.csv")
df1.dropna(subset=['Open Date'], inplace=True)
# Convert 'Open Date'  to datetime format
df1['Open Date'] = pd.to_datetime(df1['Open Date'], errors='coerce', format='%m/%d/%Y')
# Handle duplicates 
df1.drop_duplicates(inplace=True)
# reset the index after dropping rows
df1.reset_index(drop=True, inplace=True)
# Saving the file 
df1.to_csv(r"C:\Users\DELL\OneDrive\문서\mini project 1\Cleaned_Store.csv", encoding='ISO-8859-1', index=False)
df1

,StoreKey,Country,State,Square Meters,Open Date
0,1,Australia,Australian Capital Territory,595.0,2008-01-01
1,2,Australia,Northern Territory,665.0,2008-01-12
2,3,Australia,South Australia,2000.0,2012-01-07
3,4,Australia,Tasmania,2000.0,2010-01-01
4,5,Australia,Victoria,2000.0,2015-12-09
...,...,...,...,...,...
62,63,United States,Utah,2000.0,2008-03-06
63,64,United States,Washington DC,1330.0,2010-01-01
64,65,United States,West Virginia,1785.0,2012-01-01
65,66,United States,Wyoming,840.0,2014-01-01
66,0,Online,Online,NaN,2010-01-01

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.7+ KB

In [7]:
import pandas as pd
df2 = pd.read_csv(r"C:\Users\DELL\Downloads\Customers.csv", encoding='ISO-8859-1')
df2.dropna(subset=['Birthday'], inplace=True)
# Convert 'Birthday'  to datetime format
df2['Birthday'] = pd.to_datetime(df2['Birthday'], errors='coerce', format='%m/%d/%Y')

# Handle duplicates 
df2.drop_duplicates(inplace=True)
# reset the index after dropping rows
df2.reset_index(drop=True, inplace=True)
# Saving the file 
df2.to_csv(r"C:\Users\DELL\OneDrive\문서\mini project 1\Customers_Store.csv", encoding='ISO-8859-1', index=False)
df2

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,1939-07-03
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,1979-09-27
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,1947-05-26
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,1957-09-17
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,1965-11-19
...,...,...,...,...,...,...,...,...,...,...
15261,2099600,Female,Denisa Duková,Houston,TX,Texas,77017,United States,North America,1936-03-25
15262,2099618,Male,Justin Solórzano,Mclean,VA,Virginia,22101,United States,North America,1992-02-16
15263,2099758,Male,Svend Petrussen,Wilmington,NC,North Carolina,28405,United States,North America,1937-11-09
15264,2099862,Female,Lorenza Rush,Riverside,CA,California,92501,United States,North America,1937-10-12
15265,2099937,Male,Zygmunt Kaminski,Bloomfield Township,MI,Michigan,48302,United States,North America,1965-08-18

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 1.2+ MB

In [9]:
import pandas as pd
df3 = pd.read_csv(r"C:\Users\DELL\Downloads\Data_Dictionary.csv", encoding='ISO-8859-1')
# Saving the file
df3.to_csv(r"C:\Users\DELL\OneDrive\문서\mini project 1\dictionarydata_Store.csv", encoding='ISO-8859-1', index=False)
df3

,Table,Field,Description
0,Sales,Order Number,Unique ID for each order
1,Sales,Line Item,Identifies individual products purchased as pa...
2,Sales,Order Date,Date the order was placed
3,Sales,Delivery Date,Date the order was delivered
4,Sales,CustomerKey,Unique key identifying which customer placed t...
5,Sales,StoreKey,Unique key identifying which store processed t...
6,Sales,ProductKey,Unique key identifying which product was purch...
7,Sales,Quantity,Number of items purchased
8,Sales,Currency Code,Currency used to process the order
9,Customers,CustomerKey,Primary key to identify customers
10,Customers,Gender,Customer gender
11,Customers,Name,Customer full name
12,Customers,City,Customer city
13,Customers,State Code,Customer state (abbreviated)
14,Customers,State,Customer state (full)
15,Customers,Zip Code,Customer zip code
16,Customers,Country,Customer country
17,Customers,Continent,Customer continent
18,Customers,Birthday,Customer date of birth
19,Products,ProductKey,Primary key to identify products
20,Products,Product Name,Product name
21,Products,Brand,Product brand
22,Products,Color,Product color
23,Products,Unit Cost USD,Cost to produce the product in USD
24,Products,Unit Price USD,Product list price in USD
25,Products,SubcategoryKey,Key to identify product subcategories
26,Products,Subcategory,Product subcategory name
27,Products,CategoryKey,Key to identify product categories
28,Products,Category,Product category name
29,Stores,StoreKey,Primary key to identify stores
30,Stores,Country,Store country
31,Stores,State,Store state
32,Stores,Square Meters,Store footprint in square meters
33,Stores,Open Date,Store open date
34,Exchange Rates,Date,Date
35,Exchange Rates,Currency,Currency code
36,Exchange Rates,Exchange,Exchange rate compared to USD

In [10]:
import pandas as pd
df4 = pd.read_csv(r"C:\Users\DELL\Downloads\Exchange_Rates.csv", encoding='ISO-8859-1')
df4.dropna(subset=['Date'], inplace=True)
# Convert 'Birthday'  to datetime format
df4['Date'] = pd.to_datetime(df4['Date'], errors='coerce', format='%m/%d/%Y')

# Handle duplicates 
df4.drop_duplicates(inplace=True)
# reset the index after dropping rows
df4.reset_index(drop=True, inplace=True)
# Saving the file 
df4.to_csv(r"C:\Users\DELL\OneDrive\문서\mini project 1\Exchange_Store.csv", encoding='ISO-8859-1', index=False)
df4

            Date Currency  Exchange
0     2015-01-01      USD    1.0000
1     2015-01-01      CAD    1.1583
2     2015-01-01      AUD    1.2214
3     2015-01-01      EUR    0.8237
4     2015-01-01      GBP    0.6415
...          ...      ...       ...
11210 2021-02-20      USD    1.0000
11211 2021-02-20      CAD    1.2610
11212 2021-02-20      AUD    1.2723
11213 2021-02-20      EUR    0.8238
11214 2021-02-20      GBP    0.7126

[11215 rows x 3 columns]

In [11]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  datetime64[ns]
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB

In [23]:
import pandas as pd
df5=pd.read_csv(r"C:\Users\DELL\Downloads\Products.csv")
# Remove dollar sign, commas, and strip any trailing or leading spaces
df5['Unit Cost USD'] = df5['Unit Cost USD'].str.replace('$', '').str.replace(',', '').str.strip()
df5['Unit Price USD'] = df5['Unit Price USD'].str.replace('$', '').str.replace(',', '').str.strip()
# Convert the cleaned strings to floats
df5['Unit Cost USD'] = df5['Unit Cost USD'].astype(float)
df5['Unit Price USD'] = df5['Unit Price USD'].astype(float)
# Saving the file 
df5.to_csv(r"C:\Users\DELL\OneDrive\문서\mini project 1\products_Store.csv", encoding='ISO-8859-1', index=False)
df5

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,6.62,12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,6.62,12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,7.40,14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,11.00,21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,11.00,21.57,101,MP4&MP3,1,Audio
...,...,...,...,...,...,...,...,...,...,...
2512,2513,Contoso Bluetooth Active Headphones L15 Red,Contoso,Red,43.07,129.99,505,Cell phones Accessories,5,Cell phones
2513,2514,Contoso Bluetooth Active Headphones L15 White,Contoso,White,43.07,129.99,505,Cell phones Accessories,5,Cell phones
2514,2515,Contoso In-Line Coupler E180 White,Contoso,White,1.71,3.35,505,Cell phones Accessories,5,Cell phones
2515,2516,Contoso In-Line Coupler E180 Black,Contoso,Black,1.71,3.35,505,Cell phones Accessories,5,Cell phones
2516,2517,Contoso In-Line Coupler E180 Silver,Contoso,Silver,1.71,3.35,505,Cell phones Accessories,5,Cell phones

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13165 entries, 0 to 13164
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   13165 non-null  int64
 1   Line Item      13165 non-null  int64
 2   Order Date     13165 non-null  datetime64[ns]
 3   Delivery Date  13165 non-null  datetime64[ns]
 4   CustomerKey    13165 non-null  int64
 5   StoreKey       13165 non-null  int64
 6   ProductKey     13165 non-null  int64
 7   Quantity       13165 non-null  int64
 8   Currency Code  13165 non-null  object
dtypes: datetime64[ns](2), int64(6), object(1)
memory usage: 925.8+ KB

In [25]:
print(df5.isnull().sum())

ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [26]:
print(df5.dtypes)

ProductKey          int64
Product Name       object
Brand              object
Color              object
Unit Cost USD     float64
Unit Price USD    float64
SubcategoryKey      int64
Subcategory        object
CategoryKey         int64
Category           object
dtype: object